In [10]:
import pandas as pd

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

df = pd.read_csv("Automobile.csv")
# Descriptive Statistic : Average MPG, Average Cylinders, Average Displacement, Average Horsepower, Average Weight, Average Acceleration Per Origin and Model Year
# Dataset
target_col = ['origin','model_year']

for dt in target_col:
    stats = df.groupby(dt).agg({
        'mpg':'mean','cylinders':'mean','displacement':'mean','horsepower':'mean','weight':'mean','acceleration':'mean'
    })
    stats.columns = ["Average MPG","Average Cylinders","Average Displacement","Average Horsepower","Average Weight","Average Acceleration"]
    
    # Round & Sorting
    stats = stats.round(2)
    stats = stats.sort_values(by="Average Weight", ascending=False)
    
    print(stats)
    print("\n")

        Average MPG  Average Cylinders  Average Displacement  Average Horsepower  Average Weight  Average Acceleration
origin
usa           20.08               6.25                245.90              119.05         3361.93                 15.03
europe        27.89               4.16                109.14               80.56         2423.30                 16.79
japan         30.45               4.10                102.71               79.84         2221.23                 16.17


            Average MPG  Average Cylinders  Average Displacement  Average Horsepower  Average Weight  Average Acceleration
model_year
73                17.10               6.38                256.88              130.48         3419.02                 14.31
70                17.69               6.76                281.41              147.83         3372.79                 12.95
72                18.71               5.82                218.38              120.18         3237.71                 15.12
75                20.27               5.60                205.53              101.07         3176.80                 16.05
76                21.57               5.65                197.79              101.12         3078.74                 15.94
79                25.09               5.83                206.69              101.21         3055.34                 15.81
77                23.38               5.46                191.39              105.07         2997.36                 15.44
71                21.25               5.57                209.75              107.04         2995.43                 15.14
74                22.70               5.26                171.74               94.23         2877.93                 16.20
78                24.06               5.36                177.81               99.69         2861.81                 15.81
81                30.33               4.62                135.31               81.04         2522.93                 16.31
82                31.71               4.19                128.87               81.47         2453.55                 16.64
80                33.70               4.14                115.83               77.48         2436.66                 16.93

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

df = pd.read_csv("Automobile.csv")

# Descriptive Statistic : 7 Most High Powered Cars Per Origin
# Ensure numeric columns
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')
df['acceleration'] = pd.to_numeric(df['acceleration'], errors='coerce')

# Drop missing important values
df = df.dropna(subset=['origin','name','horsepower','weight','model_year','acceleration'])

origins = df['origin'].unique()

for org in origins:
    subset = df[df['origin'] == org].copy()
    # Power to weight ratio
    subset['power_to_weight'] = subset['horsepower'] / subset['weight']
    # Select columns
    stats = subset[['name','horsepower','model_year','acceleration','weight','power_to_weight']]
    # Sorting by horsepower descending
    stats = stats.sort_values(by='horsepower', ascending=False).head(7)
    # Round numeric values
    stats = stats.round(3)
    print(f"7 Most High Powered Car from {org.title()}")
    display(stats)

7 Most High Powered Car from Usa

                         name  horsepower  model_year  acceleration  weight  power_to_weight
116        pontiac grand prix       230.0          73           9.5    4278            0.054
95   buick electra 225 custom       225.0          73          11.0    4951            0.045
13    buick estate wagon (sw)       225.0          70          10.0    3086            0.073
8            pontiac catalina       225.0          70          10.0    4425            0.051
6            chevrolet impala       220.0          70           9.0    4354            0.051
7           plymouth fury iii       215.0          70           8.5    4312            0.050
25                  ford f250       215.0          70          14.0    4615            0.047

7 Most High Powered Car from Japan

                  name  horsepower  model_year  acceleration  weight  power_to_weight
333      datsun 280-zx       132.0          80          11.4    2910            0.045
123     toyota mark ii       122.0          73          13.5    2807            0.043
362  datsun 810 maxima       120.0          81          13.8    2930            0.041
361    toyota cressida       116.0          81          12.6    2900            0.040
243         mazda rx-4       110.0          77          13.5    2720            0.040
210     toyota mark ii       108.0          76          15.5    2930            0.037
357       datsun 200sx       100.0          81          14.8    2615            0.038

7 Most High Powered Car from Europe

                   name  horsepower  model_year  acceleration  weight  power_to_weight
277       peugeot 604sl       133.0          78          15.8    3410            0.039
275         volvo 264gl       125.0          78          13.6    3140            0.040
211  mercedes-benz 280s       120.0          76          16.7    3820            0.031
180           saab 99le       115.0          75          13.5    2671            0.043
276          saab 99gle       115.0          78          15.7    2795            0.041
23             bmw 2002       113.0          70          12.5    2234            0.051
120         volvo 144ea       112.0          73          15.5    2868            0.039