In [10]:
import pandas as pd

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

df = pd.read_csv("Automobile.csv")
# Descriptive Statistic : Average MPG, Average Cylinders, Average Displacement, Average Horsepower, Average Weight, Average Acceleration Per Origin and Model Year
# Dataset
target_col = ['origin','model_year']

for dt in target_col:
    stats = df.groupby(dt).agg({
        'mpg':'mean','cylinders':'mean','displacement':'mean','horsepower':'mean','weight':'mean','acceleration':'mean'
    })
    stats.columns = ["Average MPG","Average Cylinders","Average Displacement","Average Horsepower","Average Weight","Average Acceleration"]
    
    # Round & Sorting
    stats = stats.round(2)
    stats = stats.sort_values(by="Average Weight", ascending=False)
    
    print(stats)
    print("\n")

        Average MPG  Average Cylinders  Average Displacement  Average Horsepower  Average Weight  Average Acceleration
origin
usa           20.08               6.25                245.90              119.05         3361.93                 15.03
europe        27.89               4.16                109.14               80.56         2423.30                 16.79
japan         30.45               4.10                102.71               79.84         2221.23                 16.17


            Average MPG  Average Cylinders  Average Displacement  Average Horsepower  Average Weight  Average Acceleration
model_year
73                17.10               6.38                256.88              130.48         3419.02                 14.31
70                17.69               6.76                281.41              147.83         3372.79                 12.95
72                18.71               5.82                218.38              120.18         3237.71                 15.12
75                20.27               5.60                205.53              101.07         3176.80                 16.05
76                21.57               5.65                197.79              101.12         3078.74                 15.94
79                25.09               5.83                206.69              101.21         3055.34                 15.81
77                23.38               5.46                191.39              105.07         2997.36                 15.44
71                21.25               5.57                209.75              107.04         2995.43                 15.14
74                22.70               5.26                171.74               94.23         2877.93                 16.20
78                24.06               5.36                177.81               99.69         2861.81                 15.81
81                30.33               4.62                135.31               81.04         2522.93                 16.31
82                31.71               4.19                128.87               81.47         2453.55                 16.64
80                33.70               4.14                115.83               77.48         2436.66                 16.93

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

df = pd.read_csv("Automobile.csv")

# Descriptive Statistic : 7 Most High Powered Cars Per Origin
# Ensure numeric columns
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')
df['acceleration'] = pd.to_numeric(df['acceleration'], errors='coerce')

# Drop missing important values
df = df.dropna(subset=['origin','name','horsepower','weight','model_year','acceleration'])

origins = df['origin'].unique()

for org in origins:
    subset = df[df['origin'] == org].copy()
    # Power to weight ratio
    subset['power_to_weight'] = subset['horsepower'] / subset['weight']
    # Select columns
    stats = subset[['name','horsepower','model_year','acceleration','weight','power_to_weight']]
    # Sorting by horsepower descending
    stats = stats.sort_values(by='horsepower', ascending=False).head(7)
    # Round numeric values
    stats = stats.round(3)
    print(f"7 Most High Powered Car from {org.title()}")
    display(stats)

7 Most High Powered Car from Usa

                         name  horsepower  model_year  acceleration  weight  power_to_weight
116        pontiac grand prix       230.0          73           9.5    4278            0.054
95   buick electra 225 custom       225.0          73          11.0    4951            0.045
13    buick estate wagon (sw)       225.0          70          10.0    3086            0.073
8            pontiac catalina       225.0          70          10.0    4425            0.051
6            chevrolet impala       220.0          70           9.0    4354            0.051
7           plymouth fury iii       215.0          70           8.5    4312            0.050
25                  ford f250       215.0          70          14.0    4615            0.047

7 Most High Powered Car from Japan

                  name  horsepower  model_year  acceleration  weight  power_to_weight
333      datsun 280-zx       132.0          80          11.4    2910            0.045
123     toyota mark ii       122.0          73          13.5    2807            0.043
362  datsun 810 maxima       120.0          81          13.8    2930            0.041
361    toyota cressida       116.0          81          12.6    2900            0.040
243         mazda rx-4       110.0          77          13.5    2720            0.040
210     toyota mark ii       108.0          76          15.5    2930            0.037
357       datsun 200sx       100.0          81          14.8    2615            0.038

7 Most High Powered Car from Europe

                   name  horsepower  model_year  acceleration  weight  power_to_weight
277       peugeot 604sl       133.0          78          15.8    3410            0.039
275         volvo 264gl       125.0          78          13.6    3140            0.040
211  mercedes-benz 280s       120.0          76          16.7    3820            0.031
180           saab 99le       115.0          75          13.5    2671            0.043
276          saab 99gle       115.0          78          15.7    2795            0.041
23             bmw 2002       113.0          70          12.5    2234            0.051
120         volvo 144ea       112.0          73          15.5    2868            0.039

In [3]:
import pandas as pd

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

df = pd.read_csv("Automobile.csv")

# Descriptive Statistic : Total Vehicle, Avg Horsepower, Avg Weight, Avg Acceleration, Avg Power to Weight Per Car Brand
# Ensure numeric columns
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')
df['acceleration'] = pd.to_numeric(df['acceleration'], errors='coerce')

# Drop missing important values
df = df.dropna(subset=['name','horsepower','weight','model_year','acceleration'])

# Extract brand from first word of car name
df['brand'] = df['name'].str.split().str[0]

# Power to weight ratio
df['power_to_weight'] = df['horsepower'] / df['weight']

# Select columns
stats = df[['brand','name','horsepower','model_year','acceleration','weight','power_to_weight']]

# Grouping by brand and calculating statistics
brand_stats = stats.groupby('brand').agg(
    total_vehicle=('name','count'),
    avg_horsepower=('horsepower','mean'),
    avg_weight=('weight','mean'),
    avg_acceleration=('acceleration','mean'),
    avg_power_to_weight=('power_to_weight','mean')
)

# Sorting by total vehicle descending
brand_stats = brand_stats.sort_values(by='total_vehicle', ascending=False)

# Round numeric values
brand_stats = brand_stats.round(3)

print("Total Vehicle, Avg Horsepower, Avg Weight, Avg Acceleration, Avg Power to Weight Per Car Brand")
display(brand_stats)

Total Vehicle, Avg Horsepower, Avg Weight, Avg Acceleration, Avg Power to Weight Per Car Brand

               total_vehicle  avg_horsepower  avg_weight  avg_acceleration  avg_power_to_weight
brand
ford                      48         112.229    3344.500            15.292                0.033
chevrolet                 43         112.930    3276.023            15.321                0.034
plymouth                  31         111.419    3218.968            14.852                0.034
dodge                     28         117.179    3206.250            14.461                0.037
amc                       27         114.704    3289.741            15.070                0.035
toyota                    25          83.440    2301.160            16.100                0.036
datsun                    23          83.826    2242.217            16.409                0.037
buick                     17         136.412    3553.353            14.700                0.038
pontiac                   16         136.938    3655.312            14.081                0.037
volkswagen                15          65.600    2040.467            16.980                0.032
honda                     13          67.846    2023.385            15.992                0.033
mercury                   11         119.818    3428.545            14.964                0.035
oldsmobile                10         122.000    3575.900            16.020                0.034
mazda                     10          77.700    2272.200            16.440                0.034
fiat                       8          73.375    2143.125            15.650                0.034
peugeot                    8          88.000    2972.750            19.550                0.030
audi                       7          86.714    2556.143            15.943                0.034
volvo                      6         104.167    3032.667            15.567                0.034
vw                         6          60.833    2092.667            18.817                0.029
chrysler                   6         153.667    3912.000            13.300                0.038
saab                       4         108.750    2625.250            15.175                0.041
opel                       4          81.000    2200.250            15.225                0.037
subaru                     4          73.500    2146.500            16.925                0.034
chevy                      3         142.333    3717.000            15.467                0.037
renault                    3          70.000    2072.000            17.300                0.034
maxda                      2          77.500    2049.500            14.350                0.038
bmw                        2         111.500    2417.000            12.650                0.046
cadillac                   2         152.500    4140.000            14.750                0.037
mercedes-benz              2          93.500    3535.000            19.250                0.026
chevroelt                  1         105.000    3897.000            18.500                0.027
capri                      1          92.000    2572.000            14.900                0.036
toyouta                    1          97.000    2506.000            14.500                0.039
triumph                    1          88.000    2500.000            15.100                0.035
vokswagen                  1          62.000    1845.000            15.300                0.034
hi                         1         193.000    4732.000            18.500                0.041
nissan                     1          88.000    2160.000            14.500                0.041
mercedes                   1          77.000    3530.000            20.100                0.022

In [5]:
import pandas as pd

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

df = pd.read_csv("Automobile.csv")

# Descriptive Statistic : Most High Powered Car Per Brand
# Ensure numeric columns
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')
df['acceleration'] = pd.to_numeric(df['acceleration'], errors='coerce')

# Drop missing important values
df = df.dropna(subset=['name','horsepower','weight','model_year','acceleration'])

# Extract brand from first word of car name
df['brand'] = df['name'].str.split().str[0]

# Power to weight ratio
df['power_to_weight'] = df['horsepower'] / df['weight']

# Select columns
stats = df[['brand','name','horsepower','weight','power_to_weight']]

# Find index of max horsepower per brand
idx = stats.groupby('brand')['horsepower'].idxmax()
brand_top_cars = stats.loc[idx, ['brand','name','horsepower','weight','power_to_weight']]
brand_top_cars = brand_top_cars.sort_values(by='brand')

# Round numeric cell
brand_top_cars = brand_top_cars.round(3)

display(brand_top_cars)

             brand                          name  horsepower  weight  power_to_weight
9              amc            amc ambassador dpl       190.0    3850            0.049
274           audi                     audi 5000       103.0    2830            0.036
23             bmw                      bmw 2002       113.0    2234            0.051
13           buick       buick estate wagon (sw)       225.0    3086            0.073
212       cadillac              cadillac seville       180.0    4380            0.041
184          capri                      capri ii        92.0    2572            0.036
161      chevroelt     chevroelt chevelle malibu       105.0    3897            0.027
6        chevrolet              chevrolet impala       220.0    4354            0.051
26           chevy                     chevy c20       200.0    4376            0.046
94        chrysler  chrysler new yorker brougham       215.0    4735            0.045
333         datsun                 datsun 280-zx       132.0    2910            0.045
27           dodge                    dodge d200       210.0    4382            0.048
114           fiat          fiat 124 sport coupe        90.0    2265            0.040
25            ford                     ford f250       215.0    4615            0.047
28              hi                      hi 1200d       193.0    4732            0.041
149          honda                   honda civic        97.0    2489            0.039
111          maxda                     maxda rx3        90.0    2124            0.042
243          mazda                    mazda rx-4       110.0    2720            0.040
297       mercedes            mercedes benz 300d        77.0    3530            0.022
211  mercedes-benz            mercedes-benz 280s       120.0    3820            0.031
67         mercury               mercury marquis       208.0    4633            0.045
380         nissan              nissan stanza xe        88.0    2160            0.041
106     oldsmobile      oldsmobile vista cruiser       180.0    4499            0.040
50            opel                     opel 1900        90.0    2123            0.042
277        peugeot                 peugeot 604sl       133.0    3410            0.039
7         plymouth             plymouth fury iii       215.0    4312            0.050
116        pontiac            pontiac grand prix       230.0    4278            0.054
186        renault                  renault 12tl        83.0    2202            0.038
180           saab                     saab 99le       115.0    2671            0.043
150         subaru                        subaru        93.0    2391            0.039
123         toyota                toyota mark ii       122.0    2807            0.043
82         toyouta   toyouta corona mark ii (sw)        97.0    2506            0.039
335        triumph             triumph tr7 coupe        88.0    2500            0.035
332      vokswagen              vokswagen rabbit        62.0    1845            0.034
233     volkswagen      volkswagen rabbit custom        78.0    1940            0.040
275          volvo                   volvo 264gl       125.0    3140            0.040
309             vw                     vw rabbit        76.0    2144            0.035